# This is a basic workflow to help you get started with Actions
name: Parent workflow - deploy container from inputs

# Controls when the workflow will run
on:
  workflow_call:
    inputs:
      config-file:
        required: true
        type: string
      environment:
        required: true
        type: string
      granularity:
        required: true
        type: string      

  # Allows you to run this workflow manually from the Actions tab
  #workflow_dispatch:

permissions:
      id-token: write
      contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy-with-security-groups-at-storage-account-level:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    environment:
      name: ${{ inputs.environment }}
    
    if: ${{ inputs.granularity  == 'storage account'}}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      #- uses: actions/checkout@v3
      - uses: actions/checkout@v4
        with:
          repository: blippu/githubactions
          ref: main



      - name: Run a multi-line script
        run: |
          echo Deploy to ${{ inputs.environment }} with security groups at storage account level

      # Login via Fed id service principal linked to my repo and my environment
      - name: 'Az CLI login'
        uses: azure/login@v1
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Read container.txt
        id: package
        uses: jaywcjlove/github-action-read-file@main
        with:
          path: ${{ inputs.config-file }}
      

      - name: Create container inside storage account
        shell: pwsh
        run: |
          /dev/build.ps1 ${{ steps.package.outputs.content }}

      - name: Azure CLI script
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az logout
            az cache purge
            az account clear
  
  deploy-with-security-groups-at-container-level:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    environment:
      name: ${{ inputs.environment }}

    if: ${{ inputs.granularity  == 'container'}}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Run a multi-line script
        run: |
          echo Deploy to ${{ inputs.environment }} with security groups at container level

      # Login via Fed id service principal linked to my repo and my environment
      - name: 'Az CLI login'
        uses: azure/login@v1
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          #tenant-id: ${{ vars.AZURE_TENANT_ID }} 32483e40-3c09-434a-be1b-b9e262bfaaef
          tenant-id: '32483e40-3c09-434a-be1b-b9e262bfaaef'

      - name: Read container.txt
        id: package
        uses: jaywcjlove/github-action-read-file@main
        with:
          path: ${{ inputs.config-file }}
      
      - name: Create container inside storage account
        shell: pwsh
        run: |
          dev/build.ps1 ${{ steps.package.outputs.content }}

      - name: Azure CLI script
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az logout
            az cache purge
            az account clear


