# This is a basic workflow to help you get started with Actions
name: Parent workflow - deploy container from inputs

# Controls when the workflow will run
on:
  workflow_call:
    inputs:
      config-file:
        required: true
        type: string
      environment:
        required: true
        type: string
      granularity:
        required: true
        type: string      

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
      id-token: write
      contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    environment:
      name: ${{ inputs.environment }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      if: ${{ inputs.granularity  == 'storage account'}}
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Login via Fed id service principal linked to my repo and my environment
      - name: 'Az CLI login'
        uses: azure/login@v1
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Read container.txt
        id: package
        uses: jaywcjlove/github-action-read-file@main
        with:
          path: ${{ inputs.config-file }}

      - name: Run a multi-line script
        run: |
          echo Deploy to ${{ inputs.environment }} with security groups at storage account level
      - name: Create container inside storage account
        shell: pwsh
        run: |
          dev/build.ps1 ${{ steps.package.outputs.content }}      
