# This is a basic workflow to help you get started with Actions
name: create containter from input

# Controls when the workflow will run
on:

  workflow_call:
    inputs:
      config-file:
        description: Path to the config file containing your containers description
        default: 'latest'
        required: true
        type: string


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
      id-token: write
      contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    environment:
      name: dev

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo DEV Add other actions to build,
          echo DEV test, and deploy your project.

      - name: 'Az CLI login'
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: 'Run az commands'
        run: |
          az account show

      - name: Create container inside storage account
        shell: pwsh
        run: |
          dev/build.ps1 ${{ inputs.config-file }}
