# This is a basic workflow to help you get started with Actions
name: Deploy containers to development environment

# Controls when the workflow will run
on:

  workflow_call:
    inputs:
      config-file:
        description: Path to the config file containing your containers description
        default: 'latest'
        required: true
        type: string


  # Triggers the workflow on push or pull request events but only for the $default-branch branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Please confirm the environment is : dev'
        # Default value if no value is explicitly provided
        default: 'pouet'
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: string

permissions:
      id-token: write
      contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    environment:
      name: dev

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo DEV Add other actions to build,
          echo DEV test, and deploy your project.

      - name: 'Az CLI login'
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: 'Run az commands'
        run: |
          az account show

      - name: Read container.txt
        id: package
        uses: jaywcjlove/github-action-read-file@main
        with:
          path: dev/container.txt

      - name: Echo container name
        run: echo "${{ steps.package.outputs.content }}"

      - name: Create container inside storage account
        shell: pwsh
        run: |
          dev/build.ps1 ${{ inputs.config-path }}

# dev/build.ps1 ${{ steps.package.outputs.content }}
